<section id="mainPageSection">
  <div id="headingPart">
    <div id="headingLogoBack" >
      <img src="/images/icon.png" alt="Tgway Logo Image" width="65px">
    </div>
    <div id="headingMainPart">
      <div id="headingMainBack">
      <div>
        <a href="/"><h2 id="tgwayHeading">TG WAY</h2></a>
      </div>
      <div id="tgwayHeadingUnderline"></div>
      <div>
        <label id="tgwaySubHeading">Telegram Bot Services</label>
      </div>
      </div>
    </div>
  </div>
  <div id="bodyPart">
    <div id="welcomePart">
      <h3 id="bodyWelcomeHeading">Welcome To Tg Way</h3>
    </div>
    <div id="ourBotsPart">
      <div>
        <label class="bodySectionLable">Our Bots Lists</label>
      </div>
      <a href="https://t.me/instagram_downloader_tgway_bot"><div class="botListBack">
        <div class="botIconBack">
          <img src="/images/instagram_bot_icon.png" alt="translate bot icon" width="90px" class="rounded_icon">
        </div>
        <div>
          <div class="botNameBack">
            <h5 class="botNameHeading">Instagram Bot</h5>
          </div>
          <div>
            <p class="botDescription">A telegram bot for download instagram <b>post, reels, stories, profiles, thumbnails.<br>Use it now.</b></p>
          </div>
        </div>
      </div></a>
      <a href="https://t.me/subtitles_downloader_bot"><div class="botListBack">
        <div class="botIconBack">
          <img src="/images/subtitle_bot_icon.png" alt="translate bot icon" width="90px" class="rounded_icon">
        </div>
        <div>
          <div class="botNameBack">
            <h5 class="botNameHeading">Subtitle Downloader</h5>
          </div>
          <div>
            <p class="botDescription">This bot can provide subtitles from opensubtitles and subscene<br><b>Use it now</b></p>
          </div>
        </div>
      </div></a>
      <a href="https://t.me/subtitle_translate_bot"><div class="botListBack">
        <div class="botIconBack">
          <img src="/images/translate_bot_icon.jpg" alt="translate bot icon" width="90px" class="rounded_icon">
        </div>
        <div>
          <div class="botNameBack">
            <h5 class="botNameHeading">Subtitle Translator</h5>
          </div>
          <div>
            <p class="botDescription">This bot can translate subtitles into any languages. This is the <b>Fastest</b> and <b>Simplest</b> way to translate subtitles from any language to your native language.<b>Use It Now</b></p>
          </div>
        </div>
      </div></a>
      <a href="https://t.me/youtube_subtitle_downloader_bot">
      <div class="botListBack">
        <div class="botIconBack">
          <img src="/images/youtube_subtitle_bot_icon.png" alt="Youtube subtitle downloader bot icon" width="90px" class="rounded_icon" >
        </div>
        <div>
          <div class="botNameBack">
            <h5 class="botNameHeading">YouTube Subtitle</h5>
          </div>
          <div>
            <p class="botDescription">This bot can <b>find</b> and <b>download</b> subtitles for YouTube videos.It is a simple and powerfull bot. <b>Use It Now.. </b> </p>
          </div>
        </div>
      </div>
      </a>
      <a href="https://t.me/malayalamTranslateBot">
      <div class="botListBack">
        <div class="botIconBack">
          <img src="/images/malayalam_subtitles_bot.png" alt="malayalam subtitle bot icon" width="90px" class="rounded_icon" >
        </div>
        <div>
          <div class="botNameBack">
            <h5 class="botNameHeading">Malayalam Subtitles</h5>
          </div>
          <div>
            <p class="botDescription">This is a subtitle <b>Finder</b> and <b>Translator</b> bot.But it is only for <b>Malayalam</b> user's,If you are a Malayalam user. <b>Use It Now.. </b> </p>
          </div>
        </div>
      </div>
      </a>
      <div style="width:90%;margin:0 auto;margin-top:20px;display:flex;justify-content:center">
        <label class="text text-info" style="text-align:center">We are working to build new Bots. More Bots are added in this list as soon as possible</label>
      </div>
    </div>
    <div id="aboutUsPart">
      <div>
        <label class="bodySectionLable">About Us</label>
      </div>
      <div id="aboutTextBack">
        <p id="aboutText">Tgway is a website thats providing external links for enabling more options to our few useful Telegram bots. The main purpose of the this website is that to process some works and provide some payment plans to support us</p>
      </div>
    </div>
    <div id="contactUsPart">
      <div>
        <label class="bodySectionLable">Contact Us</label>
      </div>
      <div id="contactUsBack">
        <form method="" action="#" id="contactUsForm">
        <input type="text" class="contactUsInp" id="username" name="username" placeholder="Enter Your Name *" required="true">
        <input type="email" class="contactUsInp" id="email" name="email" placeholder="Enter Your Email *" required="true">
        <select id="msgType" name="msgType" class="contactUsInp">
          <option value="">Select Type Of Message</option>
          <option >About instagram Bot</option>
          <option >About Subtitle Bot</option>
          <option >About Translate Bot</option>
          <option >About YouTube subtitle bot</option>
          <option >About Malayalam Subtitle Bot</option>
          <option >About This Website</option>
          <option >Other</option>
        </select>
        <textarea id="msgArea" class="contactUsInp" id="msgArea" placeholder="Eneter Your Message *" required="true"></textarea>
        </form>
        <div style="width:65%;display:flex;justify-content:center;margin:20px">
          <button class="btn btn-primary" id="contactUsSubmit">submit</button>
        </div>
      </div>
      <div id="contactUsMessangersPart">
        <div style="width:90%;margin:0 auto;display:flex;justify-content:center;text-align:center;margin-top:20px">
          <label class="text text-info" >You can also contact us using these messengers</label>
        </div>
        <div id="contactUsMessangersBack">
          <div id="contactUsMessangersTopBack">
            <a target="_blank" href="instagram://user?username=afsal__shazz_"><button id="contactUsInstaBtn"><i class="fa-brands fa-instagram" style="font-size:28px;color:white"></i></button></a>
            <a target="_blank" href="tg:resolve?domain=afsalcp66&text=hi"><button id="contactTelegramBtn"><i class="fa-brands fa-telegram" style="font-size:28px;color:white"></i></button></a>
            <a target="_blank" href="mailto:cpafsal66@gmail.com?subject=I%20want%20to%20ask%20somthing%20about%20TGWAY"><button id="contactGmailBtn"><i class="fa fa-envelope" style="font-size:28px;color:#f1f1f1" id="gmailIconI"></i></button></a>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footerSection" class="col-12">
    <div class="col-6">
      <div>
        <a href="/"><span>Home</span></a>
      </div>
      <div>
        <a href="/#ourBotsPart"><span>Our Bots</span></a>
      </div>
      <div>
        <a href="/#aboutUsPart"><span>About Us</span></a>
      </div>
      <div>
        <a href="/#contactUsPart"><span>Contact Us</span></a>
      </div>
    </div>
    <div class="col-6">
      <div>
        <a href="/plans"><span>Pricing</span></a>
      </div>
      <div>
        <a href="/policy?t=privacy"><span>Privacy Policy</span></a>
      </div>
      <div>
        <a href="/policy?t=terms"><span>Terms &amp; Service</span></a>
      </div>
      <div>
        <a href="/policy?t=refund"><span>Refund Policy</span></a>
      </div>
    </div>
  </div>
</section>

<style>
  
 
 #footerSection>div>div{
   margin-top: 8px;
 }
 #footerSection a span{
   color: white;
   
   font-family: Georgia;
   font-weight: 500;
   
   margin-left: 20px;
 }
  #footerSection{
    width: 100%;
    
    background: #142038;
    
    margin-top: 40px;
    
    display: flex;
    
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #gmailIconI{
    width: 35px;
    height: 35px;
    
    position: relative;
    
    display: flex;
    
    align-items: center;
    justify-content: center;
  }
  #contactGmailBtn{
    width: 75px;
    height: 40px;
    
    background: #dc4c40;
    
    border: none;
    border-radius: 5px;
    
    transition: .5s;
    
    margin-left: 20px;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
  }
  #contactGmailBtn:hover{
    box-shadow: 0 0 0 4px #dc4c40aa;
  }
  #contactTelegramBtn{
    width: 75px;
    height: 40px;
    
    background: #2b96e9;
    
    color: white;
    
    border: none;
    border-radius: 5px;
    
    transition: .5s;
    
    margin-left: 20px;
  }
  #contactTelegramBtn:focus{
    box-shadow: 0 0 0 4px #2c8be6a2;
  }
  #contactUsInstaBtn{
    width: 75px;
    height: 40px;
    
    background: linear-gradient(to bottom left,#9d28d6,#f02b99,#f4c130);
    
    color: white;
    
    border: none;
    border-radius: 5px;
    
    margin-left: 20px;
  }
  #contactUsInstaBtn:focus{
    box-shadow: 0 0 0 3px #dd318f99;
  }
  #contactUsMessangersTopBack{
    display: flex;
    
    justify-content: center;
  }
  #contactUsMessangersBack{
    width: 90%;
    
    position: relative;
    
    left: 50%;
    
    transform: translate(-50%);
    
    margin-top: 20px;
  }
  #msgArea{
    height: 100px;
    
    border: #ff004d solid 1px;
    border-top-right-radius: 10px;
  }
  #msgArea:focus{
    border: solid 1.5px #56df83 ;
  }
  .contactUsInp::placeholder{
    color: #cad9df;
  }
  .contactUsInp{
    position: relative;
    
    width: 65%;
    height: 20px;
    
    background: none;
    
    border: none;
    border-bottom: solid 1.5px #ff004d;
    border-bottom-left-radius: 10px;
    
    color: white;
    
    outline: none;
    
    margin-top: 30px;
    
    text-align: center;
    
    transition: 1s;
    
    margin-left: 20px;
  }
  .contactUsInp:focus{
    border-bottom: solid 1.5px #56df83;
    
    outline: none;
    
    width: 80%;
  }
  @keyframes WL{
    0%{
      width:95%;
      border-color: #22e44a;
    }
    100%{
      width:80%;
      border-color: #ff004d;
      
    }
  }
  #contactUsBack{
    width: 80%;
    
    margin: 0 auto;
    
    border:3px #ff004d solid;
    border-radius: 8px;
    border-top: none;
    border-right: none;
    
    margin-top: 20px;
  }
  #aboutText{
    color: #8eb2ec;
    
    font-family: Courier;
    font-weight: bolder;
    
    text-align: center;
  }
  #aboutTextBack{
    width: 90%;
    
    margin: 0 auto;
    margin-top: 20px;
  }
  #moreBotAddLabel{
    color: #11be82;
    
    font-family: Georgia;
    font-size: 11px;
    
    text-align: center;
  }
  .botDescription{
    color: white;
    
    font-family: Courier New;
    font-size: 10px;
    font-weight: 600;
    
    text-align: center;
  }
  .botNameHeading{
    color: #0cd5ff;
    
    margin-left: 30px;
    
    text-shadow: 1.5px 0 0 #d000d7;
    
    font-size: 17px;
  }
  .botListBack{
    margin-top: 20px;
  }
  .rounded_icon{
    border-radius: 50%;
  }
  .botListBack{
    display: flex;
    
    position: relative;
    
    width: 87%;
    
    margin-left: 12%;
  }
  .bodySectionLable{
    color: #e89bde;
    
    font-size: 140%;
    font-family: Courier;
    font-weight: 600;
    
    margin-left: 40px;
    margin-top: 20px;
  }
  #tgwaySubHeading{
    color: #c85d84;
    
    font-family: Courier New;
    font-weight: bold;
    
    position: relative;
    
    top: -5px;
    
    transform: translate(0,-5px);
  }
  #tgwayHeadingUnderline{
    width: 150px;
    height: 10px;
    
    border: solid 3px #275a6d;
    border-bottom-right-radius: 10px;
    border-left: none;
    border-top: none;
    
    position: relative;
    top: -5px;
    
    transform: translate(0,-5px);
  }
  #headingMainBack{
    position: relative;
    
    width: 180px;
    height: 75px;
    
    left: 50%;
    top: 50%;
    
    transform: translate(-50%,-50%);
  }
  #headingMainPart{
    position: relative;
    
    width: 75%;
    height: 100%;
    
  }
  a{
    color: none;
    
    text-decoration: none;
    
    color: none;
  }
  a:focus{
    color: none;
  }
  #tgwayHeading,#bodyWelcomeHeading{
    font-family: cursive;
    font-weight: 1000;
    font-size: 40px;
    
    color: #9799BC;
    
    letter-spacing: 2px;
  }
  #headingLogoBack{
    width: 25%;
    height: 100%;
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
  }
  #headingPart{
    display: flex;
    
    height: 120px;
  }
  #mainPageSection{
    background: #16182b;
    
    position: relative;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    overflow: scroll;
  }
  #bodyWelcomeHeading{
    font-size: 35px;
    font-weight: 900;
    
    color: #11c685;
    
    text-align: center;
    
    margin-top: 20px;
  }
</style>

<script type="text/javascript">
  $(document).ready(()=>{
    $(".contactUsInp").blur(()=>{
      let username=$("#username").val(),
      email=$("#email").val(),
      msg=$("#msgArea").val()
      //alert(`${username} ${email} ${msg}`)
      if(username&&email&&msg){
        $("#contactUsBack").css("border-color","#56df83")
      }else{
        $("#contactUsBack").css("border-color","#ff004d")
      }
    })
    $("#contactUsSubmit").click(()=>{
      let username=$("#username").val(),
      email=$("#email").val(),
      type=$("#msgType").val(),
      msg=$("#msgArea").val()
      if(!email.includes("@")||!email.includes(".")||email.length<5)email=null
      if(username&&email&&msg){
        $(".contactUsInp").css("border-color","#56df83")
        toast("Submitting Your Message,Please Wait")
        $.ajax({
          url:"/contactUs",
          type:"post",
          dataType:"json",
          data:{
            username,
            email,
            type:type||"Undifined message type",
            msg
          },
          success:(res)=>{
            if(res.sts){
              toast("Successfully Submitted Your Message\nTanks For Your Message","success")
              $("#contactUsForm").trigger("reset")
            }else{
              toast("Unexpected Error Occurred \nPlease try again","error")
            }
          }
        })
      }else{
        var notEnt=[]
        if(!username)notEnt.push("Name")
        if(!email)notEnt.push("Email")
        if(!msg)notEnt.push("Message")
        toast(`${notEnt.join(",")} is not filled by required data,Please Fill These Fields`,"error")
        $(".contactUsInp").css({"border-color":"#ff004d"})
        
        $("#contactUsBack").css("border-color","#ff004d")
      }
    })
    
    //checking that is the window size is grater than body for setting footer margin in this case
    if($(window).height()>($('#headingPart').height()+$("#bodyPart").height())){
      var windDiff=$(window).height()-($("#bodyPart").height()+$("#headingPart").height())
      var footHeight=$("#footerSection").height()
      
      //minus the footer height from the window defference and align 
      var marginLength=windDiff-footHeight
      if(marginLength>0){
        $("#footerSection").css({"margin-top":marginLength+"px"})
      }
    }
  })
</script>