
<input hidden="true" id="userId" value="{{id}}">
<section id="pageSettingSection">
  <div>
    <button id="editLangBtn" class="btn btn-outline-danger btn-sm">EDIT LANGUAGE</button>
  </div>
</section>
<section id="translateHomeSection">
 <!-- <div class="index-center">
  <script type="text/javascript">
	atOptions = {
		'key' : '433f7b46529666fcb453dab01a090969',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedformats.com/433f7b46529666fcb453dab01a090969/invoke.js"></scr' + 'ipt>');
</script>
</div>
  <div class="index-center">
  <script type="text/javascript">
	atOptions = {
		'key' : '433f7b46529666fcb453dab01a090969',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedformats.com/433f7b46529666fcb453dab01a090969/invoke.js"></scr' + 'ipt>');
</script>
</div> !-->
<div class="scrollDownBtnPart">
    <button  class="scrollDownBtn">Scroll Down <i class="fa fa-angle-double-down"></i></button>
</div>
<!--<div class="index-center">
  <script type="text/javascript">
	atOptions = {
		'key' : '7d4645f16547aa6bd4b1ba8fcf00e3a8',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedformats.com/7d4645f16547aa6bd4b1ba8fcf00e3a8/invoke.js"></scr' + 'ipt>');
</script>
</div>

<div class="index-center">
  <script async="async" data-cfasync="false" src="//pl16642504.effectivecpmgate.com/1e5d0d99aeeddf095f91d357db7e70f9/invoke.js"></script>
<div id="container-1e5d0d99aeeddf095f91d357db7e70f9"></div>
</div>
<div class="index-center">
  <script type="text/javascript">
	atOptions = {
		'key' : '0525a5d1702020438045194e50c76af3',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedformats.com/0525a5d1702020438045194e50c76af3/invoke.js"></scr' + 'ipt>');
</script>
</div>
!-->
<div class="scrollDownBtnPart">
    <button  class="scrollDownBtn">Scroll Down <i class="fa fa-angle-double-down"></i></button>
</div>
<!--<div class="index-center">
  <script type="text/javascript">
	atOptions = {
		'key' : '1fdc484892e4dc706b30357be74b627b',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedformats.com/1fdc484892e4dc706b30357be74b627b/invoke.js"></scr' + 'ipt>');
</script>
</div>
<div class="index-center">
  <script type="text/javascript">
	atOptions = {
		'key' : '0525a5d1702020438045194e50c76af3',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedformats.com/0525a5d1702020438045194e50c76af3/invoke.js"></scr' + 'ipt>');
</script>
</div>
<div class="index-center">
  <script type="text/javascript">
	atOptions = {
		'key' : '1fdc484892e4dc706b30357be74b627b',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedformats.com/1fdc484892e4dc706b30357be74b627b/invoke.js"></scr' + 'ipt>');
</script>
</div>
<div class="index-center">
  <script type="text/javascript">
	atOptions = {
		'key' : '0525a5d1702020438045194e50c76af3',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedformats.com/0525a5d1702020438045194e50c76af3/invoke.js"></scr' + 'ipt>');
</script>
</div>
!-->
<div id="translateActivitePart" >
  <div>
    <h6 id="translateActiviteHedd">SELECT MODE YOU WANT</h6>
  </div>
  <div style="margin-top:30px">
  <button id="translateActiviteUp">UPLOAD TO TG  <i class="fa fa-arrow-circle-up"></i></button>
  <button id="translateActiviteDown" >DIRECT DOWNLOAD  <i class="fa fa-arrow-circle-down"></i></button>
  </div>
</div>
<!--
<div class="index-center">
  <script type="text/javascript">
	atOptions = {
		'key' : '433f7b46529666fcb453dab01a090969',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedformats.com/433f7b46529666fcb453dab01a090969/invoke.js"></scr' + 'ipt>');
</script>
</div>
<div class="index-center">
  <script type="text/javascript">
	atOptions = {
		'key' : '433f7b46529666fcb453dab01a090969',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedformats.com/433f7b46529666fcb453dab01a090969/invoke.js"></scr' + 'ipt>');
</script>
</div>!-->
</section>
<section id="langSettingSection" hidden="true">
  <div id="langSettPage" class="border border-primary rounded">
    <div style="text-align:center">
      <h5 id="langPageHedd">Language Setting Page</h5>
      <label id="langPageLabel">ENTER YOUR PREFERRED LANGUAGE</label>
    </div>
    <div style="text-align:center">
      <input type="text" id="languageInp" placeholder="ENTER LANGUAGE NAME"><br>
      <button id="langSubBtn" >SUBMIT</button>
    </div>
    <div style="margin-top:8%;padding:10px">
      <label class="infoLabel">* Onece You Set The Langauge It Can Be Considered As Default</label>
      <label class="infoLabel">* You Can Change It Any Time</label>
      <label class="infoLabel">* You Can Enter Full Name Of The Language Or The ISO-2 Language Code</label>
    </div>
  </div>  
</section>

<style>
   
   
   #translateActiviteHedd{
     font-family: serif;
     font-weight: bold;
     font-size: 10px;
     
     text-align: center;
     
     color: white;
   }
   #pageSettingSection{
     position: -webkit-sticky;
     position: sticky;
     top: 0;
     left: 0;
     right: 0;
     
     height: 60px;
     
     display: flex;
     
     justify-content: center;
     align-items: center;
     
     background: #13141fd8;
   }
   #langSubBtn{
     margin-top: 5%;
     
     width: 70px;
     height: 35px;
     
     background: #22b433;
     
     border: none;
     border-radius: 8px;
     
     color: white;
     
     font-family: Courier;
     font-weight: bold;
     
     transition: .8s;
   }
   .infoLabel{
     font-family: Courier New;
     font-size: 11px;
     font-weight: bold;
     
     color: #96a3a8;
     
     margin-top: 10px;
   }
   #languageInp{
     width: 65%;
     height: 35px;
     
     margin-top: 12%;
     
     background: none;
     
     border: solid 1px #18c940;
     border-radius: 8px;
     
     text-align: center;
     
     font-family: Courier New;
     font-size: 12px;
     
     color: white;
     
     outline: none;
     
     transition: .8s;
   }
   #languageInp::placeholder{
     color: #61e383;
   }
   #languageInp:focus,#langSubBtn:focus{
     box-shadow: 0 0 1px 5px #24ed867a;
     
     border-color: white;
   }
   #langPageLabel{
     color: white;
     
     font-family: Courier New;
     font-size: 11px;
     
     margin-top: 3%;
     
     
   }
   #langPageHedd{
     color: white;
     
     font-family: Serif;
     
     margin-top: 15%;
   }
   #langSettPage{
     position: relative;
     
     width: 80%;
     height: 70%;
     
     background: #0e0e14f3;
     
     left: 50%;
     top: 50%;
     
     transform: translate(-50%,-50%);
     
     
   }
   .scrollDownBtn{
    background: radial-gradient(#49ee8e,#11c852);
    color: white;
   
    font-family: Courier New;
    font-weight: bold;
    
    border: none;
    border-radius: 5px;
    
    height: 36px;
    width: 200px;
    
    position: relative;
    
    left: 50%;
    
    transform: translate(-50%);
    
    transition: .8s;
    
    margin-top: 20px;
    
    animation: wave2 1.5s infinite;
  }
  
  @keyframes wave2{
    0%{
      
      box-shadow: 0 0 0 0 rgb(36,238,116);
    }
    50%{
      
      box-shadow: 0 0 1px 15px rgba(36,238,116,0.2);
    
    }
    100%{
      
      box-shadow: 0 0 0 0 rgb(36,238,116);
    
    }
  }
  .scrollDownBtnPart{
    width: 100%;
    height: 130px;
    
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #translateActivitePart{
    width: 80%;
    
    margin-top: 30px;
    margin-bottom: 30px;
    
    border: #eb2834 solid 1px;
    border-radius: 8px;
    
    position: relative;
    
    left: 50%;
    
    transform: translate(-50%);
    
    padding: 20px;
    
    background: #100f1a;
  }
  #translateActiviteUp,#translateActiviteDown{
    position: relative;
    
    width: 180px;
    height: 30px;

    color: white;
    
    font-family: Courier New;
    font-weight: bold;
    
    border: none;
    border-radius: 7px;
    
    outline: none;
    
    transition: .8s;
    
    left: 50%;
    
    transform: translate(-50%);
    
    margin-bottom: 40px;
    
  }
  #translateActiviteUp{
    background: #1f6dd9;
    
    animation: wave3 2s infinite;
  }
  #translateActiviteDown{
    background: #17eb68;
    
    animation: wave2 2s infinite;
  }
  #langSettingSection{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  @keyframes wave3{
    0%{
      box-shadow: 0 0 0 0 rgb(48,140,229);
    }50%{
      box-shadow: 0 0 1px 15px rgb(48,140,229,0.2);
    }
    100%{
      box-shadow: 0 0 0 0 rgb(48,140,229);
      
    }
  }
</style>
<script>
  const storage=window.localStorage
  var autoLang=storage.getItem("lang")
  if(!autoLang){
    $("#translateHomeSection").css({filter:"blur(5px)"})
    $("#langSettingSection").removeAttr("hidden")
  }
  $("#langSubBtn").click(()=>{
    var lang=$("#languageInp").val()
    if(lang){
    $.ajax({
      url:"/translate/checkLanguage",
      type:"get",
      dataType:"json",
      data:{
        lang
      },
      success:(res)=>{
        if(!res.sts){
          toast(`Language <strong>${lang}</strong> Was Not Supported<br>Please Enter A Valid Language`,"error")
        }else{
          toast(`Language <strong>${res.lang.name}</strong> Setted As To Your Default Language <br>You Can Change It Any Time`,"success")
          $("#langSettingSection").attr("hidden","true")
          $("#translateHomeSection").css({filter:"none"})
          storage.setItem("lang",res.lang.iso)
        }
      }
    })
    }else{
      toast("Please Enter The Language Name<br>And Try To Submit Again")
    }
  })
  $("#translateActiviteUp").click(()=>{
    let id=$("#userId").val()||"",
    lang=storage.getItem("lang")
    
    if(lang){
      
      $.ajax({
        url:"/translate/activate/upload",
        type:"post",
        dataType:"json",
        data:{
          id,lang
        },
        success:(res)=>{
          if(res.sts){
            toast("YOUR REQUEST FOR TRANSLATE SUBTITILE WAS SUCCESSFULLY ACTIVATED...")
          }else{
            toast(res.err,"error")
          }
        }
      })
      
    }else{
      toast("First You Need To Sett Your Default Language","error")
      $("#editLangBtn").click()
    }
  })
  $("#editLangBtn").click(()=>{
    $("#translateHomeSection").css({filter:"blur(5px)"})
    $("#langSettingSection").removeAttr("hidden")
  })
</script>